.nav-bar
{
    height: 12vh;
    width: 100%;
    display: flex;
   /* gap: 100px;*/
    align-items: center;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    justify-content: space-around;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: white;
    z-index: 1000;
   
}

img{
    height:80%;
    
}

.in-group{
    
  
    display: flex;
    border-radius: 14%;
    background-color:#7cd158;
    width: 80%;
    height: 100%;

   
    
}
.middle-container{
    width:55%;
    height:55%;
    display: flex;
    justify-content: space-between;
}
.in-group input[type="text"] {
    background-color:#e7eee5;
    border: none;
    width:93%;
    outline: none;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    height: 100%;
    
}


.icon-container-search{
    width:7%;
    height: 100%;
    background-color: #0079bb;
    border-radius: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

.search-icon{
    font-size: medium;
    
}
.all-icons-container
{
    
    height: 100%;
    width:17%;
    display: flex;
    justify-content: space-between;
    
    
}
.btn-navbar{
    background-color:#176f9e;
    color:black;
    font-size: 1.205rem;
    font-weight: bold;
    height: 100%;
    outline: none;
    width: 2.5rem;
    text-align: center;
    border: none;
}
.custom-button {
    background-color:#083f5e ;  /* Replace with your desired color */
 /* Optional: Set text color */
  }
.btn:hover{
    background-color: #ec8a19;
}
.extra{
    display:none;
}
.login_singup-container{

width: 15%;
display: flex;
justify-content: space-around;
align-items: center;
height: 100%;


}
.login_singup-container a{
    color:#176f9e ;
    text-decoration: none;
    font-weight: bold;
    font-size:1rem ;
}
.login_singup-container a:hover{
    color:#2F99D1;
    font-weight: bold;
}

.user{
    height: 100%;
    font-size: 2em;
    color:#2F99D1;
}

.user:hover{
    height: 100%;
    font-size: 2em;
    color:#7cd158;
}

@media(max-width:1100px)
{
   
    .in-group{
width:75%
    }
   .all-icons-container{
    width:23%
   }
  
   .icon-container-search{
    width:12%;

   }
   .login_singup-container{
    width:20%
   }
}
@media(max-width:850px)
{
   .nav-bar{
    height: 20vh;
    flex-wrap: wrap;
   }
   img{
    height: 40%;
    margin-right: auto;
   }
   .middle-container{
    height: 30%;
    width: 95%;
    
    order:2;
   }
   .all-icons-container{
    width:20%;
   }
   .icon-container-search{
    width:10%

   }
   .login_singup-container{
    height: 35%;
    width: 30%;
    margin-left: auto;
    order:1;
   }
}

@media(max-width:550px)
{
    .nav-bar{
        height: 30vh;
    }
    img{
        height: 25%;
    }
    .middle-container{
        flex-direction: column;
        align-items: center;
        height: 45%;
    }

    .login_singup-container{
        width: 55%;
        height: 20%;
    }
    .in-group{
        width: 100%;
        height: 40%;
    }
    .all-icons-container{
        height: 40%;
        width: 35%;
        justify-content: space-around;
    }
}