/* Variables */
:root {
    --clr-facebook-blue: rgba(24, 119, 242, 1);
    --clr-faceboook-blue--hover: rgba(24, 119, 242, 0.9);
    --clr-green: rgba(80, 168, 94, 1);
    --clr-green--hover: rgba(80, 168, 94, 0.9);
  }
  
  /* Global styles */

  
  .login-input:focus,
  button:focus {
    outline: none;
  }
  
  .page-content-login {
    background-color: rgb(220, 220, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: hsl(0 0% 25%);
  }
  
  /* Login card container */
  .login__card--container {
    margin:1rem;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 15px hsla(0, 0, 0, 0.125);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
  }
  
  /* Social login */
  .social__login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1em;
    padding: 3em 3em 0 3em;
  }
  
  .social__login .login__heading {
    font-weight: bold;
    font-size: 1.5rem;
    opacity: 0.9;
  }
  
  /* Buttons */
  .btn-login {
    width: 100%;
    padding: 0.75em 0.5em;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    color: white;
    font-family: inherit;
    font-size: 1rem;
  }
  
  .btn--facebook {
    background-color: var(--clr-facebook-blue);
  }
  
  .btn--facebook:hover {
    background-color: var(--clr-faceboook-blue--hover);
  }
  
  .btn--manual {
    background-color: var(--clr-green);
  }
  
  .btn--manual:hover {
    background-color: var(--clr-green--hover);
  }
  
  /* Alternate login text */
  .alt__login__text {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0.8;
  }
  
  /* Manual login */
  .manual__login {
    width: 100%;
    padding: 0 3em 0 3em;
  }
  
  .manual__login--form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    transition: 0.2s ease-in-out;
  }
  
  .manual__login--form input {
    width: 100%;
    padding: 0.75em 0.5em;
    border: 0;
    border-bottom: 2px solid var(--clr-green);
    font-family: inherit;
    color: hsla(0, 0, 0, 0.9);
  }
  
  .manual__login--form input::placeholder {
    color: hsla(0, 0, 0, 0.5);
    padding-left: 0;
    font-size: 1rem;
    transform: translateY(3px);
    transition: 0.2s ease-in-out;
  }
  
  .manual__login--form input:focus::placeholder {
    transform: translateY(-3px);
  }
  
  /* Separate line */
  .separate__line {
    padding: 0 -2em 0 -2em;
    width: 100%;
    background: black;
  }
  
  /* Create account */
  .create__account {
    width: 100%;
    padding: 0 3em 2em 3em;
    color: hsla(0, 0, 0, 0.5);
    text-align: center;
  }
  
  .create__account .signup__link {
    color: var(--clr-green);
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid var(--clr-green);
  }
  
  .create__account .signup__link:hover {
    opacity: 0.7;
  }
  
 