li a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    width:15%;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
  
    margin-top: 2rem;
  
}

li{
    padding-bottom: 2rem;
   
}
ul{
    margin-top: 0%;
    
    padding: 0%;
}